<h1>Benvenuto in meteo Dima</h1>

<h1>{{ meteo?.nomeCitta }}</h1>

<h2>attuale: {{ meteo?.principale.temperatura - 273.15 | number:'1.0-1'}} °C</h2>
<h2>{{ meteo?.tempoInfo.descrizione }}</h2>
<img [src]="getIconPath(meteo?.tempoInfo.icon)" alt="Icona meteo">
<h2>{{ meteo?.vento.velocitaVento }} Km/h</h2>

<input type="text" [(ngModel)]="city" placeholder="Nome città">
<button type="submit" (click)="getMeteo()">Aggiorna</button>

<a [routerLink]="['/previsioni', meteo?.nomeCitta]">Vedi previsioni</a>